$nav-height: 90px;
$title-decoration-height: 90px;
$title-decoration-width: 100px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$font:'Roboto';

.lyt-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}