
.techs-container {
  display: grid;
  grid-template-areas: 
    "main-tech tech tech"
    "main-tech tech tech";
  width: $content-size;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  position: relative;
  text-align: center;
  width: $card-size;
  
  &:first-child {
    align-self: center;
    grid-area: main-tech;
    justify-self: end;
  }

  &:nth-child(even):after{
    border-left: 2px solid $green;
    content: '';
    height: 100%;
    position: absolute;
    width: $card-size;
    top: -20px;
  }
}

.tech-img {
  height: $tech-logo-size;
  width: $tech-logo-size;
  margin-bottom:10px;
}

.tech-text-last {
  font-size: $text-small; 
}

.tech-text-title {
  margin: 10px;
}

.tech-text-release {
  font-weight: bold;
  margin-bottom: 20px;
}
