
.title{
  align-items: center;
  display: inline-flex;
  margin: 20px 0 20px 10%;
}

.title img{
  height: $title-decoration-height;
  width: $title-decoration-width;
}

.title p{
  font-size: $text-big;
  margin-left: -$title-decoration-width*0.34;
}



