
.title {
  align-items: center;
  display: flex;
  text-align: left;
}
 
.title::before {
  background: url('img/triangle.svg') no-repeat 0 0;
  content: "";
  height: $title-decoration-height;
  width: $title-decoration-width;
}

.title .title-text {
  font-size: $text-big;
  width: 100%;
}



