$card-size:200px;
$content-size:$card-size*5;
$nav-height: 90px;
$title-decoration-height: 90px;
$title-decoration-width: 68px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$font:'Roboto';
