.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

%footer-phrase {
  color: $white;
}

.big-phrase {
  @extend %footer-phrase;
  font-size: 60px;
  font-weight: bold;
  margin: 35px 0;
}

.md-phrase {
  @extend %footer-phrase;
  font-size: $text-medium;
  margin-top: 25px;
}

.copht-phrase {
  @extend %footer-phrase;
  align-self: flex-end;
  font-size: $text-small;
}

@media screen and (max-width: $responsive-breakpoint) {

  .copht-phrase {
    align-self: center;
  }

}
