.nav-bar {
  align-items: center;
  box-shadow: 0 4px 8px 0 $grey;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  height: $nav-height;
  position: fixed;
  padding: 30px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-bar-img {
  height: $nav-height;
  width: $nav-img-width;
}

.nav-bar-text {
  font-size: $text-big;
}

@media screen and (max-width: $responsive-breakpoint) {

  .nav-bar-text {
    display: none;
  }

}
